*.pcd

build/
devel/
logs/
install/
CATKIN_IGNORE

.catkin_tools/

cmake-build-debug/
cmake-build-release/

.vscode/
.idea/

.DS_Store
Thumbs.db

*.o
*.so
*.a
*.pyc
__pycache__/

CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake
_deps

*.log
*.bin